.container {
  border: 1px solid green;
  padding: 1rem;
}

.productName {
  margin-right: 1rem;
  text-transform: capitalize;
}

.productPrice {
  font-weight: bold;
}

.addBtn {
  display: inline-block;
  margin-left: 1rem;
  color: blue;
  padding: 0.1rem 0.5rem;
}

.productListItem {
  margin-block: 0.3rem;
}
