.toggleMenuButton {
  padding: 0.5rem 1rem;
  margin: 1rem;
}

.menuContainer {
  padding: 1rem;
}

.linkContainer {
  margin-bottom: 0.2rem;
}

.linkTitle {
  margin-left: 0.5rem;
}

.linkTitle:hover {
  border-bottom: 1px solid black;
}
