.ordersLayoutContainer {
  margin: 1rem;
}

.addOrderContainer {
  margin: 2rem;
  max-width: 300px;
}

.inputContainer {
  height: 3rem;
}

.input {
  width: 100%;
}

.label {
  text-align: left;
}

.inputError {
  color: red;
  font-size: 0.8rem;
}

.orderListContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
}

.orderCard {
  padding: 0.5rem;
}

.orderCard:hover {
  border: none;
  background-color: aliceblue;
}
