.ordersLayoutContainer {
  margin: 1rem;
}

.addOrderContainer {
  margin: 2rem;
  max-width: 300px;
  margin-inline: auto;
}

.orderListContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
}

.orderCard {
  padding: 0.5rem;
}

.orderCard:hover {
  border: none;
  background-color: aliceblue;
}
