* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  border-bottom: 1px solid black;
}

button:hover {
  background-color: rgb(225, 224, 224);
}

.error {
  color: red;
}
